/* CSS Document */
.table_A1{
	border-left:1px solid #333333;
	border-top:1px solid #333333;
	background:#FFFFFF;
	margin-top:10px;
	text-align: left;
	color:#333;
}
.table_A1 th{
border-right:1px solid #333333;
border-bottom:1px solid #333333;
padding:3px;
background: #F3F3F3;
}
.table_A1 td{
border-right:1px solid #333333;
border-bottom:1px solid #333333;
padding:3px;
font-size:12px;
  vertical-align: top;
  padding-top: 10px;
}
.tdtitle{
border-right:1px solid #333333;
border-bottom:1px solid #333333;
padding:3px;
letter-spacing:0.25em;
font-weight:bold;
}

.table_A2{
background:#FFFFFF;
border:1px solid #D6D6D6;
border-top:1px solid #D6D6D6;
font-size:12px;
text-align:left;
vertical-align:top;
}
.table_A2 td{background:#FFFFFF;padding:1px;}


.Content-desc{
line-height: normal;
} 

.warning_input{
background-color: #FFF6F6;
border:1px solid #FF8989; 
}
.cfp{  position: absolute;
  width: 490px;
  background: #F3F3F3;
  padding: 6px 5px;
  margin-top: 6px; 
  /*height:20px;
  display:none;*/
border:1px solid #D1D7DC; }
.cfp *{vertical-align:middle;}
.cfp span{padding:0 8px;}
.cfp input{ position:absolute;width:30px;ime-mode:disabled;margin-right: 70px;}
.cfp a { width:20px; position: absolute;  right: 10px;  top: 10px;}
.cfp a img{width:14px; height:14px; }
.hd_qty{   margin-top: -3px;}
input.hd_qty,input.cf_qty {  text-align: center;}